# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
*.dSYM.zip
*.dSYM
ios/.bundle

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*release.keystore
.gradletasknamecache
android/app/src/main/res/
android/app/*.keystore
android/.bundle
android/gradle.deps

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# BUCK
buck-out/
\.buckd/
#*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots
android/app/fastlane-android-release*.json

# Bundle artifact
*.jsbundle


# vscode stuff
.vscode/

# Environment variables to load
.env

# Firmware binaries
App/Firmwares/*.bin

# CocoaPods
/ios/Pods/
